<main>
  <img src="../assets/images/NSF.png">
  <h1 id="homepagetitle" style="display: block; font-size: 60px; color: rgb(255, 255, 255); text-align: center; line-height: 82px;" data-inline-fontsize="true" data-inline-lineheight="true" data-fontsize="60" data-lineheight="82">2018 SBIR|STTR Phase II and PFI Grantee Conference</h1>
  <h1 id="homesubtitle" style="color: rgb(255, 255, 255); font-size: 54px; text-align: center; line-height: 82px;" data-inline-fontsize="true" data-inline-lineheight="true" data-fontsize="54" data-lineheight="82">June 4-6, 2018</h1>
</main>
<div class="jumbotron">
  <h1>Welcome</h1>
  <p>Please request the 2018 Grantee Abstract Book</p>
</div>
